<!-- <div class="main-content bg"> -->
  <div class="container-fluid">   
    <div class="main-div">  
        <div class="col-md-12">
          <mat-card>
            <mat-card-title>
              Manage Users Within Kontrol
            </mat-card-title>
            <mat-card-content>
            <!-- <mat-card-title> -->
            <div class="row">
                <div class="col-md-6">
                  <h5><b>MANAGE EMPLOYEES</b></h5>
            <!-- </mat-card> -->
                </div>
                <div class="col-md-6">
                    <h5><b>MANAGE ADMINISTRATION</b></h5>
                    <!-- </mat-card-title> -->
                </div>
            </div>
            <mat-divider [inset]="true"></mat-divider>

            </mat-card-content>
          </mat-card>
        </div>
    </div>
  </div>
<!-- </div> -->