body, html {
    height: 100%;
  }
  
  .bg { 
    /* The image used */
    background-image: url("C:/Users/care/Desktop/Code stuff/Workspace/kontrolwebapp-master/src/assets/img/settings.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login-box{
    margin: auto;
    margin-top: 15%;
}

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}